html {
    box-sizing: border-box;
    display: flex;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

.Section_Menu
{
    background-color: #d1d3da;
    /* border: 3px solid #000; */

    display: flex;
    width: 10%;
    height: 70%;

    position: fixed;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Section_Menu-Contenedor
{
    background-color: #AC0000;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Section_Menu-Contenedor2
{
    height: 360px;
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: space-around;
}

.Principal{
    /* background-color: rgb(207, 169, 169); */
    /* position: relative; */
    left:5%;
    width: 95%;
}

.principal_Derecha
{
    border: 1px solid #000;
    width: 500px;
    position: relative;
    left:50%;
}

.Description_Follow{
    background-color: #AC0000;
    width: 300px;
    color: #FFFFFF;
}
